body{
  background-color: #111111;
  color: #dddddd;
  font-family: Formal Script, Arial, sans-serif;
  margin: 20% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  background-color: rbga(0,0,0, 0.9)
}
