body{
  background-color: 99999;
  color: dddddd;
  font-family: Formal Script, Arial, sans-serif;
  margin: 20% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: rgba(0,0,0, 0.9)
}
